{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Content block -->
{% block content %}

    <div class="container-fluid">
        <div class="jumbotron mt-4">
            <h1 class="display-4 text-center">PERSONAL BLOG</h1>
            <hr>
        </div>
        <div class="text-center">
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
                {{ wtf.quick_form(form) }}
            {% endif %}
            {% for blog in blogs %}
                {% if blog %}
                    <div class="blog-author">
                        <a href="{{ url_for('.user', username = blog.author.username) }}">
                            {{ blog.author.username}}
                        </a>
                    </div>
                    <div class="blog-content">{{ blog.content }}</div>
                {% else %}
                    <p>No blogs available</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

